{
"parser":"babel-eslint",
"extends":"airbnb",
"parserOptions": {
    "ecmaVersion": 6
},
"ecmaFeatures": {
  "jsx":true,
  "modules":true,
  "experimentalObjectRestSpread":true,
  "impliedStrict":true
  },
  "env": {
    "browser":true,
    "node":true,
    "mocha":true,
    "ecmaVersion": 6
    },
  "rules": {
    "semi": [ 2, "never" ],
    "quote-props": [1, "consistent-as-needed"]
  },
  "plugins": [
    "babel",
    "react"]
}