extends layout

block content

  h2 Enneagram as a Map for Developing Self Awareness
    blockquote
      p The Age old injunction, "Know thyself" inscribed on the Temple of Apollo at Delphi in ancient Greece, was based on profound philosophical teachings that recognized that the key to knowledge of the natural world and human possibilities within it begins with studying our individual selves , as well as pur physical environment. This cornerstone wisdom of Western culture saw the study of the human being from the inside (each of us working to understand our own inner territory) as a necessary project that went hand in hand with the scientific study of the outside world.

      p In the last century, a few individuals have rediscovered a powerful long lost teaching that conveys  a clear vision of how we humans function. This teaching was encoded in something called The Enneagram, which basically means "a drawing of nine".  The Enneagram symbol is a nine-pointed star inscribed in a circle that provides a framework for, among other things,  a personality type system of twenty seven distinct character "archetypes".  In recent years people all over the world have recognized this ancient wisdom as something genuine, amazing , and life changing.

      p On the surface, the Enneagram is a personality type system of nine interconnected personality archetypes or types.  Each of those nine types is connected to four other types arrayed around a symbolic diagram.  The Enneagram symbol has ancient and mysterious origins. It represents an elegant model of some of the fundamental laws of the universe expressed in mathematical terms that reflect patterns discernable in the natural world, including the human ego or personality.

      p The basic core of the teaching associate with the Enneagram reflects the very same messages communicated by the world's oldest mystical, psycho-spiritual, and philosophical traditions: the ability to observe and reflect upon your experience through the development of an "inner witness" allows you to actually acquire greater self-knowledge , which creates the possibility of attaining a higher state of consciousness.  The Enneagram not only provides a great deal of help in the process of increasing self awareness -- by showing the "inner witness" what to pay attention to -- but also provides a method for how we can change and grow based on that vision.

      p As we begin to "study" ourselves, it helps to have some sort of guidance.  We think, feel, and do so many things every day- how can we even begin to make sense of it all?  This is where the Enneagram comes in.  As an ancient and universal model of human development and transformation, the Enneagram offers  an accurate and objective view of the archetypal patterns that structure the human personality.  As such, it provides a much-needed map for those of us who seek to understand ourselves on a deeper level.

      p The Enneagram describes three "centers of intelligence", nine personality types and twenty -seven "subtypes" that provide an amazingly accurate picture of personality in terms of he patterns associated with the way we function.  The main idea is that your personality - all of what you think, feel, and do - is made up of patterns. Even when you try to pay attention more carefully to what is going on inside you, these patterns can be hard to detect because you have been doing what you do for so long that the "patterning" in what you do has become invisible to you, in the same way a fish doesn't "notice" the wanter he's swimming in. The Enneagram helps you see these personality patters in yourself.

      cite from the introduction to The Complete Enneagram by Beatrice Chestnut, PhD

    p The gram quiz here provides just a start on your own path to self awareness.  The more you study your own self using the Enneagram, uncovering your type and subtype, you will be able to 'catch' yourself, actually begin to see yourself, as you move about your life, recognizing these underlying patterns in your thoughts, emotions and actions - Inner movements that until now were invisible to you.

    p Witnessing these patterns at work empower you to choose, act, think more consciously than ever before. It can be quite a liberating experience. Moreover, as you understand your own type you will also, with some study, understand the other personality types you interact with, their respective underlying patterns which intertwine and interact with yours.  Knowing the Enneagram you will be able to recognize how even the relationships between these types have patterns and act out in ways that were before unconscious to you. This knowledge also empowers you to be more capable and masterful in negotiating the social world around you.

    p The Enneagram-quiz begins this journey of self awareness by indicating what type and center you gravitate toward. Welcome to the beginning of your own epic journey of self discovery.

    p Our logo depicts the 9 types and sub types as well as the 3  'centers of intelligence'  represented by the colors behind it.  The tree of life shown in the center serves as reminder of the life giving properties of knowing yourself, with roots deep into the shared ground of being and its life giving properties while flourishing upward and outward growing with fresh breathing and ever new leaves of life.
