- extends ./quiz/layout2

html
  head
    meta(charset='UTF-8')
    |   
    title Coming soon [flat design]
    |   
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css')
    |   
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Architects+Daughter')
    |   
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Dosis')
    |   
    link(rel='stylesheet prefetch', href='https://max.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    |   
    link(rel='stylesheet', href='css/style.css')
  body
    header
      h1 { coolness is on it&apos;s way ... }
      |     
      h3 If you leave us your address we will let you know when it is ready
    |   
    section.container
      .wrapBox.animated.rollIn
        .box
          .thanks
            p THANK YOU!
          |         
          form(action='#')
            div
              label(for='first-name') Your best email address:
              |             
              input#name(type='email', name='first-name', placeholder='')
            |           
            div
              button#send(type='submit')
                | SUBMIT 
                i.fa.fa-paper-plane
          |         
          .social
            ul
              li
                i.fa.fa-facebook
              |             
              li
                i.fa.fa-google-plus
              |             
              li
                i.fa.fa-twitter
              |             
              li
                i.fa.fa-youtube
    |   
    footer
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    |   
    script(src='js/index.js')

block scripts
  scripts(src="js/email.js")
