extends layout

block content
  .pageheader
    h3 Frequently asked questions

    h2  How can I find out my type?

      p You have made good start with the GramQuiz.  But that is only the beginning.  You need to study all 9 types and see which resonates with you most. The GramQuiz helps narrow the focus. You can take it multiple times and the quizzes will be saved so you can compare to see if you have a pattern of one type.

      p Another way to get additional training is through an Enneagram class or workshop in your area. There are many excellent books which can give you deeper insight to your mental and emotional patterns. For a good overview of the Ennagram here are some great books to get you started.

      p Also check out this the Enneagram Resources Page.

      p There are therapists, spiritual directors, and life coaches that can also help you further your understanding of the Enneagram and how it applies to you.

      p Often discovering your type can be an uncomfortable experience.  These types are determined by patterns that are usually hidden and unconscious to us. Since they are unconscious, type patterns are hard to see in ourselves.

      p The most useful aspect and key to understanding yourself is to become more aware of your types patterns and examine all of the 9 type's internal patterns and compare those patterns to your own. Now that you are becoming more aware of yourself, can see with new eyes your own behaviors and patterns in contrast to the motivations and patterns of the various other types. This will help with  descriptions which you will find described in workshops, tapes and books.

      h3 Is there another test I can take to learn my type?

      p There are a number of written tests that have been published to help discover your type. You can find some in books on the Enneagram. Tests also are available on the internet. No one test has been determined to be consistently reliable. Use them, just as you will use you Enneagram Quiz here, as a start to discover your full Enneagram type.

    h3 Here are a couple of books that have Enneagram tests in them:

      p Understanding the Enneagram by Don Richard Riso

      p Discovering Your Personality Type: The New Enneagram Questionnaire by Don Riso.

  h3 Can you be more than one Enneagram type?

    p Generally it is believed that the Enneagram personality type is a constellation of inner patterns including, but not limited to, patterns of emotion, feeling, thinking, perceiving and habits of attention. Each individual is a composite of all nine Enneagram types. We all have all the patterns to a lessor or greater degree. But there is one set or dominant constellation of on of the 9 type patterns which are called by some as the “core point” or "core" personality type.

    p Core patterns are fixated ways of reacting to circumstances. The patterns we experience internally and present to the outer world are dynamic in how they are surfaced according to the circumstances or situations which stimulate these patterns within us. Over the course of a lifetime, or even within the course of a day, we may manifest any one or all nine of the Enneagram personality types but, over time, one set of patterns is more consistant, dominant, and most common to us. It is that set of patterns which are the underlying drivers and motivators that are active in us and is identified by our type.

   h3  Does your Enneagram type ever change?

    p Your type is deeply engranined into your life. The patterns that make up our personality type will continue to dominate your experience throughout your life. You will occasionally experience and manifest the patterns of other personality types throughout your life but your core type does not change.

    p One of the ways that each type functions is how it moves along the lines and around the circle depiected in the Enneagram symbol. This dynamic movement is how we interact with our experiences and express ourselves when under stress or differently as we are more "healthy" within our type.

  h3 Where can I find out more about the Enneagram?

    p We will keep updating our links to helpful resources as they become available. We also hope our community will thrive and share relevant resources and community shared on this site.

  h3 A word about books on the Enneagram?
    p The Enneagram is rich in both the wisdom liturature and history which has only resurfaced in the last century. Reflacting that history some more recent books are light, easy reading, and deal primarily with the descriptions of the nine Enneagram personality types.

    p Other books have a rich spiritual orientation which can reflect the spiritual and/or religious orientation of the writers.  The Wisdom history of the typologies described therein are also intended not only to help you deepen your self understanding but can provide some spiritual guidence specific to your type.

    p Other books are written primarilly from the orientation of psychologists and psychotherapists to help integrate your psychological health with the patterns your typology suggests.

    h3 How can knowing my type help me?

    p There are levels of how it can impact you dependent on how much you study and become aware of your type's patterns. Knowing your type, and becoming more discerning of others types can dramatically improve your relationships with others and with yourself. You can 'catch' yourself as you act out patterns that may not be healty or helpful in your life now that you are more aware of these dispositions within yourself.

    h4 Here are some keyways tohelp you on your path to understand the Enneagram:

    p Become acquainted with the thoughts, feelings, and emotions, preoccupations and conversational styles associated with your personality type.
    p Read the material, which pertains to your point in one or more of the excellent books recently, published on the Enneagram.
    p Attend workshops, Enneagram panels and meetings of point groups to become more familiar with your own point as it is experienced by others of the same point.
    p Develop your inner observer.
    p Learn to distinguish between what’s really going on in an interaction as opposed to what old belief systems and thought patterns suggest is going on.
    p Learn to ignore the inner critic or “voice of judgment”.
    p Learn to observe your thoughts, feelings, emotions, imaginations and fantasies without judging or repressing them. Develop the habit of allowing and observing.
    p Learn to make the distinction between you and your thoughts, feelings and emotions.
    p Learn to choose alternatives to your usual and habitual thoughts, feelings and emotions.
    p Develop an attention practice, such as meditation.

  h3 Are there “subtypes”?
    p The teaching describes three subtypes for each of the nine Enneagram personality types. These subtypes are the self-preservation, sexual and social. All nine Enneagram personality types have these three subtypes.

    p “Self-preservation” has to do with meeting the needs of survival issues.

    p “Sexual” subtype has to do with the reactions we experience in one-to-one relationships.

    p “Social” subtype has to do with our relationship to groups.

    p Every type has access to characteristics of each of the three subtypes within their overall personality type, however, one of the subtypes will be dominant and significantly influence how we manifest the characteristics of our overall core type. Understanding this relationship of subtype to your overall type can further help you understand your patterns of interaction.

  h3 Are there compatible / incompatible personality types?

    p Some types share common characteristics and can have less conflict than other combinations due to their shared patterns.  Other cominingations can have complementary patterns which help the relationship overall but can also lead to ongoing conflict with patterns of behavior that clash. Becoming aware of your type will help negotiate and navigate through these comflicts andhelpsupport the relationships you find yourself(s) in.

    p The healthier you are in your type the less issues can arrise unawares and most any types can get along together. Unhealty types may gravitate toward relationships that naturally support their type in it's less healthy dimentions. Knowing the Eneagram types can help you negotiate these relationship waters.
