extends layout

block content
  h1 Enneagram Word Quiz
  p.lead Discover and Explore your Enneagram Profile
  hr
  .row
    .col-sm-6
      h2 Start Here
      p To begin this journey of discovery you can use to this word quiz to gain initial insight into your one of 9 profiles.  This is just a start but will give you some indications of where you land within the Enneagram.
      p
        a.btn.btn-default(href='/quiz', role='button') Take Quiz Now »
    .col-sm-6
      h2 Overall Profile Reviews
      p An overview of the Enneagram and the 9 profiles. The Enneagram is deep and wide with wisdom to help you discern and discover more about yourself, your relationships, and others. Once you grasp it's wisdom you will never be the same.  
      p
        a.btn.btn-default(href='#', role='button') View Details »
    .col-sm-6
      h2 Community
      p There are many resources to get involved locally and internationally.  The first step is to join by creating an account with us and we will keep you informed of events and people of common interests in your area. 
      p
        a.btn.btn-default(href='#', role='button') Join Now »
    .col-sm-6
      h2 Forum and Questions
      p We will keep a forum of questions and answers provided by our community here. Once you join you will be able to add your own insights, ask questions, and answer those questions you may have discovered answers to.
      p
        a.btn.btn-default(href='#', role='button') View Forum »