extends layout
block jumbo
  .jumbotron.jumbotron-fluid.gramBackground
    .container
      h1.display-3 Enneagram Word Quiz
      p.lead Discover and Explore your Enneagram Profile

block content
  .row
    .col-sm-6
      h2 Start Here
      p To begin this journey of discovery you can use to this word quiz to gain initial insight into your one of 9 profiles.  This is just a start but will give you some indications of where you land within the Enneagram.
      p
        a.btn.btn-default(href='/quiz', role='button') Take Quiz Now »
    .col-sm-6
      h2 Enneagram Background and Profiles
      p An overview of the Enneagram and the 9 profiles. The Enneagram is deep and wide with wisdom to help you discern and discover more about yourself, your relationships, and others. Once you grasp it's wisdom and understand your type, you will never be the same.
      p
        a.btn.btn-default(href='/profilesOverview', role='button') View Details »

    .col-sm-6
      h2 Community Forum

      p There are many resources to get involved locally and internationally.  The first step is to join by creating an account here to keep you informed of events and connect with people of common interests in your area. Interact with others who have similar interests in the Enneagram.
      p
        a.btn.btn-default(href='/comingSoon', role='button') Join Now »
    .col-sm-6
      h2 Frequently Asked Questions
      p Here are some commonly asked questions about the Enneagram with answers. Here you can also find further resources to learn more about the Enneagram. GramQuiz also has a forum community where you can add your own insights, ask questions, and assist others with questions as they arize.
      p
        a.btn.btn-default(href='/Faq.pug', role='button') View FAQ »
