extends layout
block content
  h2 Enneagram as a Map for Developing Self Awareness
  blockquote
    p The Age old injunction, "Know thyself" inscribed on the Temple of Apollo at Delphi in ancient Greece, was based on profound philosophical teachings that recognized that the key to knowledge of the natural world and human possibilities within it begins with studying our individual selves , as well as pur physical environment. This cornerstone wisdom of Western culture saw the study of the human being from the inside (each of us working to understand our own inner territory) as a necessary project that wnt hand in hand with the scientific study of the outside world.

    p In the last century, a few individuals hav rediscovered a powerful long lost teaching that conveys  a clear vision of how we humans function. This teaching was encoded in something called The Enneagram, which basically means "a drawing of nine".  The Enneagram symbol is a nine-pointed star inscribed in a circle that provides a framework for, among other things,  a personality type system of twenty seven distinct character "archetypes". In recent years people all over the world have recognized this ancient wisdom as something genuine, amazing , and life changing.

    p On the surface, the Enneagram is a personality type system of nine interconnected personality archetypes or types.  Each of those nine types is connected to four other types arrayed around a symbolic diagram.  The Enneagram symbol has ancient and mysterious origins. It represents an elegant model of some of the fundamental laws of the universe expressed in mathematical terms that reflect patterns discernable in the natural world, including the human ego or personality.

    p The basic core of the teaching associate with the Enneagram reflects the very same messages communicated by the world's oldest mystical, psycho-spiritual, and philosophical traditions: the ability to observe and reflect upon your experience through the development of an "inner witness" allows you to actually acquire greater self-knowledge , which creates the possibility of attaining a higher state of consciousness.  The Enneagram not only provides a great deal of help in the process of increasing self awareness -- by showing the "inner witness" what to pay attention to -- but also provides a method for how we can change and grow based on that vision.

    p As we begin to "study" ourselves, it helps to have some sort of guidance.  We think, feel, and do so many things every day- how can we even begin to make sense of it all?  This is where the Enneagram comes in.  As an ancient and universal model of human development and transformation, the Enneagram offers  an accurate and objective view of the archetypal patterns that structure the human personality.  As such, it provides a much-needed map for those of us who seek to understand ourselves on a deeper level.

    p The Enneagram describes three "centers of intelligence", nine personality types and twenty -seven "subtypes" that provide an amazingly accurate picture of personality in terms of he patterns associated with the way we function.  The main idea is that your personality - all of what you think, feel, and do - is made up of patterns. Even when you try to pay attention more carefully to what is going on inside you, these patterns can be hard to detect because you have been doing what you do for so long that the "patterning" in what you do has become invisible to you, in the same way a fish doesn't "notice" the water he's swimming in. The Enneagram helps you see these personality patterns in yourself.

    cite from the introduction to The Complete Enneagram by Beatrice Chestnut, PhD

  h3 The gram quiz here provides just a start on your own path to self awareness.  The more you study your own self using the Enneagram, uncovering your type and subtype, you will be able to 'catch' yourself, actually begin to see yourself, as you move about your life, recognizing these underlying patterns in your thoughts, emotions and actions - Inner movements that until now were invisible to you.

  h4 Witnessing these patterns at work empower you to choose, act, think more consciously than ever before. It can be quite a liberating experience. Moreover, as you understand your own type you will also, with some study, understand the other personality types you interact with, their respective underlying patterns which intertwine and interact with yours.  Knowing the Enneagram you will be able to recognize how even the relationships between these types have patterns and act out in ways that were before unconscious to you. This knowledge also empowers you to be more capable and masterful in negotiating the social world around you.

  h4 The Enneagram-quiz begins this journey of self awareness by indicating what type and center you gravitate toward. Welcome to the beginning of your own epic journey of self discovery.

  h2 Here are broad and general descriptions for the 9 types of the Enneagram.

  h4 This is just a broad brush view. To get more about your type go to ${fullink} where there is more in depth information on your Enneagram type, and how to use it to improve your life, your relationships, and your spiritual growth.

  h3 Type 1 is The Reformer (the principled, idealistic type).
  h4 Ones are conscientious and ethical, with a strong sense of right and wrong. They are teachers, crusaders, and advocated for change: always striving to improve things, but afraid of making a mistake. Well-organized, orderly, and fastidious they try to maintain high standards, but can slip into being critical and perfectionistic. They typically have problems with resentment and impatience. At their best: Wise, discerning, realistic, noble, and morally heroic.,

  h3 Type 2 is The Helper (the caring, interpersonal type).
  h4 Two's are empathetic, sincere, and warm-hearted. They are friendly, generous, and self sacrificing, but an also be sentimental, flattering, and people-pleasing. They are well-meaning and driven to be close to others, but can slip into doing things for other in order to be needed.  They typically have problems with possessiveness and with acknowledging their own needs. At their best: unselfish and altruistic, with unconditional love for others.,

  h3 Type 3 is The Achiever (the adaptable, success-oriented type).
  h4 Threes are self-assured, attractive, and charming. Ambitious, competent, and energetic, they can also be status-conscious and highly driven for advancement. They are diplomatic and poised, but can also be overly concerned with their image and what other think of them. They are typically  have problems with workaholism and competitiveness. At their Best: self-accepting, authentic, everything they seem to be role models who inspire others.,

  h3 Type 4 is The Individualist (the introspective, romantic type).
  h4 Fours are self aware, sensitive, and reserved. They are emotionally honest, creative, and personal, but can also be moody and self  conscious.  Withholding themselves from others due to feeling vulnerable and defective, they can also feel disdainful and exempt from ordinary ways of living.  They typically have problems with melancholy, self-indulgence, and self-pity. At their best: Inspired, highly creative, able to renew themselves and transform their experiences.,

  h3 Type 5 is The Investigator (the perceptive, cerebral type).
  h4 Fives are alert, insightful, and curious. They are able to concentrate and focus on developing complex ideas and skills. Independent, innovative, and inventive, they can also become preoccupied with their thoughts and imaginary constructs.  They become detached, yet high-strung and intense.  They typically have problems with eccentricity, nihilism, and isolation. At their best: Visionary pioneers, often ahead of their time, able to see the world in an entirely new way.,

  h3 Type 6 is The Loyalist (the committed, security-oriented type).
  h4 Sixes are reliable, hard working, responsible, and trustworthy  Excellent troubleshooters, they foresee problems and foster cooperation, but can also become defensive, evasive, and anxious-running on stress while complaining about it.  They can be cautious and indecisive, but also reactive, defiant and rebellious.  They typically have problems with self-doubt and suspicion. At their best: internally stable, self-reliant, courageously championing themselves and others.,

  h3 Type 7 is The Enthusiast (the busy, productive type).
  h4 Sevens are extroverted, optimistic, versatile, and spontaneous. Playful, high-spirited, and practical, they can also misapply their many talents, becoming over-extended, scattered, and undisciplined.  They constantly seek new and exciting experiences, but can become distracted and exhausted by staying on the go. They typically have problems with impatience and impulsiveness. At their best: focus their talents on worthwhile goals, appreciative, joyous and satisfied.,

  h3 Type 8 is The Challenger (the powerful, aggressive type).
  h4 Eights are self-confident, strong and assertive. Protective, resourceful, straight-talking, and decisive, but can also be ego  centric and domineering.  Eights feel they must control their environment, especially people, sometime becoming confrontational, and intimidating. Eights typically have problems with their tempers and with allowing themselves to be vulnerable. At their best: self-mastering, use their strength to improve others lives, heroic, magnanimous, inspiring.,

  h3 Type 9 is The Peacemaker (the easy  going, self  effacing type).
  h4 Nines are accepting, trusting, and stable. They are usually creative ,optimistic, and supportive; they can also be too willing to go along with others to keep the peace.  They want everything to go smoothly and be without conflict, but they can also tend to be complacent, simplifying problems and minimizing anything upsetting.  They typically have problem with inertia  and stubbornness. At their best: indomitable, all-embracing, able to bring people together and heal conflicts.

  h3 Our logo depicts the 9 types (as points on the circle) and sub types (the linked lines). The 3  'centers of intelligence'  are represented by the 3 color background and show how each "center" influences a group of 3 each of the 9 types.  The tree of life shown in the center serves as reminder of the life giving properties of knowing yourself, with roots deep into the shared ground of being and its life giving properties while flourishing upward and outward growing with fresh breathing and ever new leaves of life.

  img.gramLogoLg(src="/images/gramquiz_logo300x300.png")



  h4
    a(href='http://www.aktheos.com', role='link') Click here for your personal growth path report and connection
    |
  h4
    a(href='http://www.aktheos.com', role='link')  For more more information on your traits and personality. Tools and Community to explore more deeply aspects of your personal profile - for yourself and for maximizing your relationships.
