extends layout2

block content
  h1 Enneagram Word Quiz
  header
    
    .headerBox
      h2
      
      p
        | Choose and click on words that 
        span.emphasis best 
        | describes you over time, not just right now,
        |         but most of the time. Words that you don't choose are words that would NOT best describe "you" most of the time.
        |         When finished selecting words that are you then press the "ANALYSIS" button.
    main
      .row.words
        section.contentBox
          #chooseWordBox.chooseWordBox
            .boxTopLabel
              | Choose word by clicking on the words that best descibe you
            hr.hr2
            .wordlist
        section.contentBox
          #answerListBox.answerListBox
            .boxTopLabel
              | List of words that "best" describe me
            br
            hr.hr2
            .bestWords
      .row.actions
        section.button-container
          p
            a#btnNext.btn.btn-red(href='#') NEXT
      .row.reports
        section.personalityReport
        section.refreshPage
          section.button-container
            p
              a#ref_btn.btn.btn-red.refreshBtn(href='#') Retake Quiz
    footer.footer
      a(href='http://aktheos.com') Find out more about your typology here
      br
      small © Copyright 2016 by YodaCom LLC. All Rights Reserved.
