extends layout2

block content
  h1 Enneagram Word Quiz
  header
    .headerBox
      p
        | Choose and click on words that
        =' '
        span.emphasis best
        =' '
        | describes you over time, not just right now,
        |         but most of the time. Words that you don't choose are words that would NOT best describe "you" most of the time.
        |         When finished selecting words that are you then press the "ANALYSIS" button.
    main
      .row.words
        section.contentBox.col-sm-6
          #chooseWordBox.chooseWordBox
            .boxTopLabel
              | Click on the words that "BEST" describe you
            hr.hr2
            .wordlist
        section.contentBox.col-sm-6
          #answerListBox.answerListBox
            .boxTopLabel
              | Words that "best" describe me
            hr.hr2
            .bestWords
      .row.actions
        section.button-container.col-sm-12
          p
            a#btnNext.btn.btn-red(href='#') NEXT
      .row.reports
        section.personalityReport
        section.refreshPage
          section.button-container
            p
              a#ref_btn.btn.btn-red.refreshBtn(href='#') Retake Quiz

block footer
  footer.footer
      a(href='http://aktheos.com') Find out more about your typology here
      //- small © Copyright 2016-2017 by YodaCom LLC. All Rights Reserved.

block scripts
  script(src="js/quiz.js")
