extends layout

block content
  h1 Enneagram Word Quiz
  p.lead Begin Here to Discover your Enneagram Profile
  hr
  .row
    .col-sm-8
      h2 Click on words that descibe you most the time
      p To begin this journey of discovery you can use to this word quiz to gain initial insight into your one of 9 profiles.  This is just a start but will give you some indications of where you land within the Enneagram.
      p
        a.btn.btn-default(href='#', role='button') Take Quiz Now »
    .col-sm-4
      h2 Most Like Me Word List
      p Descriptive of me most over time
      p
        
    .col-sm-12
      h2 Results
      p a.btn.btn-default(href='#', role='button') Get Results »
      p This is just preliminary...explore more here and read further to refine and understand your profile more deeply.
      p
        